%h1 Редактирование профиля
= simple_form_for @profile, html: { class: 'form-horizontal profile-form row-fluid' } do |f|

  %div.form-field
    .span6
      = f.input :name, input_html: {class: 'input-xlarge'}, label: 'Имя'
      = f.input :surname, input_html: {class: 'input-xlarge'}, label: 'Фамилия'
    .profile_avatar.span5
      = image_tag @profile.avatar_url(:middle)
      = f.input :avatar, label: false, class: 'input-hide'
      = link_to 'Редактировать юзерпик', '#', class: 'file-upload_link'
  %div.profile-form__button
    = f.button :submit, 'Сохранить профиль', class: 'btn_rounded'

