.pic_comments__comment
  .pic_comments__comment__avatar
    = image_tag comment.user.profile.avatar_url(:image_commentor_thumb)
  .pic_comments__comment__info
    .pic_comments__comment__info__name
      = comment.user.profile.name
    .pic_comments__comment__info__date
      = comment.created_at.strftime("%d.%m.%Y")
    .pic_comments__comment__info__comment
      = comment.body
    .pic_comments__comment__info__actions
      .pic_comments__comment__info__actions__respond
        - path = new_polymorphic_path([comment.commentable, comment], parent_id: comment.id)
        = link_to raw("<span class='inner'>Ответить</span>"), path, {class: "icon-sm-reply action-link-bullet", remote: !current_user.nil? } 
      .pic_comments__comment__info__actions__vote
        = render partial: "shared/vote_for", locals: {votable: comment}
  .pic_comments__chid_comments
    - unless sub_comments.nil?
      = nested_comments(sub_comments)
