%div.all-photos-page
  %div.row-fluid
    %div.span6
      = link_to "Поиск объектов", "#", {class: "object-search"}

  %ul.navigation.page-nav
    %li 
      = link_to "Описание объекта", "#"
    %li.active 
      = link_to "Фото", "#", {class: "icons photo"}
    %li
      = link_to "Видео", "#", {class: "icons video"}

    %li.pull-right
      = link_to "", "#", {class: "icons flag"}
    %li.pull-right
      = link_to "", "#" , {class: "icons time"}
    %li.pull-right
      = link_to "Редактировать", "#" , {class: "icons edit"}

  %div.row-fluid.add
    %div.span6
      %h4 Object name
    %div.span6
      = link_to "Добавить фото или видео", "#", {class: "button button_standard button_grey"}

  %ul.thumbnails
    - @photos.each do |photo|
      %li 
        = link_to image_tag("http://placehold.it/139x97"), "#"
= render 'layouts/footer'
