= simple_form_for @geo_landmark do |f|
  - if @geo_landmark.errors.any?
    #error_explanation
      %h2= "#{pluralize(@geo_landmark.errors.count, "error")} prohibited this geo_landmark from being saved:"
      %ul
        - @geo_landmark.errors.full_messages.each do |msg|
          %li= msg
  .inputs
    = f.input :name
    = f.input :node_id, collection: @node_ids
    = f.input :tag_list, input_html: { multiple: true, class: 'tag_list' }, collection: @categories
  .actions
    = f.submit 'Save'
