%h1 Listing geo_landmarks

%table
  %tr
    %th
    %th
    %th

  - @geo_landmarks.each do |geo_landmark|
    %tr
      %td
        %strong= geo_landmark.name
      %td= geo_landmark.tag_list
      %td= link_to 'Show', geo_landmark
      %td= link_to 'Edit', edit_geo_landmark_path(geo_landmark)
      %td= link_to 'Destroy', geo_landmark, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Landmark', new_geo_landmark_path
