= simple_form_for @landmark do |f|
  - if @landmark.errors.any?
    #error_explanation
      %h2= "#{pluralize(@landmark.errors.count, "error")} prohibited this landmark from being saved:"
      %ul
        - @landmark.errors.full_messages.each do |msg|
          %li= msg
  .inputs
    = f.input :osm_id, collection: @node_ids
  .actions
    = f.submit 'Save'
