%h1 Listing landmarks

%table
  %tr
    %th
    %th
    %th

  - @landmarks.each do |landmark|
    %tr
      %td
        %strong= landmark.name
      %td= landmark.tag_list
      %td= link_to 'Show', landmark
      %td= link_to 'Edit', edit_landmark_path(landmark)
      %td= link_to 'Destroy', landmark, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Landmark', new_landmark_path
