= simple_form_for @user, :html => { :class => 'form-horizontal' } do |form| 
  - @user.errors.full_messages.each do |msg| 
    %p= msg
  .formList
    %p.social-login.small
      %strong Воспользуйтесь существующим аккаунтом:
      = auth_buttons(:button)
    = hidden_field_tag :type, params[:type]
    = form.input :email
    %div.pass{:onclick => "passwordManipulation()"} показать пароль
    = form.input :password 
    = form.button :submit