%h2 Редактирование аватары

= image_tag @user.avatar.url(:large), id: "cropbox"


= form_for @user do |f| 
  - %w[x y w h].each do |attribute|
    = f.text_field "crop_#{attribute}" 
    %br/
  
  .actions
    = f.submit "Сохранить"