%h1	Редактирование профиля
= simple_form_for @user, :html => { :class => 'form-horizontal' } do |form| 
  - @user.errors.full_messages.each do |msg| 
    %p= msg
  - if @authentications.any?
    .socialaccs-block-connected
      %h3 Иcпользуются
      - @authentications.each do |authentication|
        = auth_disconnect_button(authentication)
  - if not @authentications or @authentications.size < ButtonsHelper::PROVIDERS.size
    .socialaccs-block-unconnected
      %h3 Подключить аккаунт
      - ButtonsHelper::PROVIDERS.map(&:to_s).each do |provider|
        = auth_connect_button(provider)
  = hidden_field_tag :type, params[:type]
  = form.input :name
  = form.input :avatar
  = form.button :submit
