%p Уважаемый #{@user.name}
%p Для завершения регистрации пожалуйста, укажите Ваш адрес электронной почты.

= form_for @user, :url => create_via_oauth_new_user_path do |f|
  = hidden_field_tag :authentication_id, params[:authentication_id]
  = f.label :email, 'Ваш e-mail:'
  %br
  = f.text_field :email, :class => 'wide'
  
  %br

  %button.activate(type="submit" class="button gradient-green")
    %strong Продолжить регистрацию