= link_to "Забыли пароль", forget_password_path 
.inline
  .login
    %h1 Вход
    %strong Воспользуйтесь существующим аккаунтом:
    = auth_buttons
    - unless flash[:error].blank?
      .alert.alert-error
        =flash[:error]
    = simple_form_for @user_session, :html => { :class => 'form-horizontal' } do |form| 
      -# - @user_session.errors.full_messages.each do |msg| 
      -#  .alert.alert-error
      -#    %p= msg
      = form.input :email 
      -# = form.error :email, :id => "email_errror"
      %div#pass1.changepass{:onclick => "toggleType('pass1', 'user_session_password')"} показать пароль
      = form.input :password, :input_html => {:autocomplete => :off}
      = form.submit "Войти"
  .registration
    %h1 Регистрация
    = simple_form_for @user, :html => { :class => 'form-horizontal' } do |form| 
      - @user.errors.full_messages.each do |msg| 
        .alert.alert-error
          %p= msg
      %strong Воспользуйтесь существующим аккаунтом:
      = auth_buttons(:button)
      = hidden_field_tag :type, params[:type]
      = form.input :email
      %div#pass2.changepass{:onclick => "toggleType('pass2', 'user_password')"} показать пароль
      = form.input :password, :input_html => {:autocomplete => :off}
      = form.submit "Зарегистрироваться"