= render 'navigation' 

%h1	Редактирование профиля
= simple_form_for @user, url: update_settings_user_path(@user), html: { class: 'form-horizontal', method: :put } do |form| 
  - @user.errors.full_messages.each do |msg| 
    %p.alert.alert-error= msg
  - if @authentications.any?
    .socialaccs-block-connected
      %h3 Иcпользуются
      - @authentications.each do |authentication|
        = auth_disconnect_button(authentication)
  - if not @authentications or @authentications.size < ButtonsHelper::PROVIDERS.size
    .socialaccs-block-unconnected
      %h3 Подключить аккаунт
      - ButtonsHelper::PROVIDERS.map(&:to_s).each do |provider|
        = auth_connect_button(provider)
  -# = hidden_field_tag :type, params[:type]
  = form.input :email
  = form.input :old_password
  = form.input :password
  
  %h4 Рассылки:

  .control-group
    .controls
      %label.checkbox
        = check_box_tag 'user[settings[news_mailer]]', 1, @user.settings['news_mailer']
        Присылайте мне свежую информацию о проекте
      %label.checkbox
        = check_box_tag 'user[settings[record_comment_mailer]]', 1, @user.settings['record_comment_mailer']
        Сообщайте о новых комментариях моих записей
      %label.checkbox
        = check_box_tag 'user[settings[mark_me_mailer]]', 1, @user.settings['mark_me_mailer']
        Сообщайте если кто-то оценил мой отзыв или комментарий
      %label.checkbox
        = check_box_tag 'user[settings[comment_comment_mailer]]', 1, @user.settings['comment_comment_mailer']
        Сообщайте об ответах на мои комментарии
      %label.checkbox
        = check_box_tag 'user[settings[social_allow]]', 1, @user.settings['social_allow']
        Разрешаю писать в указанных соцсетях от моего имени

  = form.submit "Сохранить изменения"
