= render 'navigation' 

%h2 Профиль
%h4= @user.try(:name)
%h4 рейтинг на сайте
Зарегистрирован 
= @user.created_at.to_date
.avatar
  - if (@user.avatar)
    = image_tag @user.avatar.url(:thumb)
  - else
    А здесь могла бы быть ваша реклама.
-# @user.authentications.each do |a|
- if @authentications.any?
  .socialaccs-block-connected
    %h3 Аккаунты, которые иcпользуются на данный момент
    - @authentications.each do |authentication|
      = link_to authentication.provider, authentication.url
  