- user_vote = current_user ? current_user.get_vote(votable) : 0
- path = new_vote_polymorphic_path votable, format: :json

- css_prefix = ''
- css_prefix = "pic_vote_positive" if votable.plusminus > 0
- css_prefix = "pic_vote_negative" if votable.plusminus < 0

- user_css = ''
- user_css = 'voted_down' if user_vote == -1
- user_css = 'voted_up' if user_vote == 1

- up_form_method = user_vote > 0 ? 'delete' : 'post'
- down_form_method = user_vote < 0 ? 'delete' : 'post'

%div{class: "pic_vote #{css_prefix} #{user_css}", data: {vote_url: path, user_vote: user_vote}}
  .pic_vote__up
    = form_tag path do 
      = hidden_field_tag :sign, "up"
      = hidden_field_tag :_method, up_form_method
      = button_tag "", {class: "icon-thumbs-up ui-link", type: "submit", title: "Мне нравится"}
  .pic_vote__count
    = votable.plusminus
  .pic_vote__down
    = form_tag path do 
      = hidden_field_tag :sign, "down"
      = hidden_field_tag :_method, down_form_method
      = button_tag "", {class: "icon-thumbs-down ui-link", title: "Мне не нравится"}
  .pic_vote__spam
    = render partial: 'shared/spam_to', locals: {spammable: votable}
