- tag ||= ''
- path = (tag.blank?) ? new_vote_polymorphic_path(votable) : new_vote_polymorphic_path(votable, tag)
%div(class="pic_vote simple")
  .pic_vote__up
    = form_tag path, remote: !current_user.nil? do 
      = hidden_field_tag :sign, "up"
      = button_tag "", {class: "icon-thumbs-up ui-link", type: "submit"}
  .pic_vote__count.up
    = votable.votes_for(tag.blank? ? nil : tag)
  .pic_vote__down
    = form_tag path, remote: !current_user.nil? do 
      = hidden_field_tag :sign, "down"
      = button_tag "", {class: "icon-thumbs-down ui-link"}
  .pic_vote__count.down
    = votable.votes_against(tag.blank? ? nil : tag)

