= simple_form_for @event, :html => {:multipart => true} do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .inputs
    = f.input :title
    = f.input :body
    = f.input :start_date
    = f.input :duration
    = f.input :repeat_rule, collection: ['daily', 'weekly', 'monthly', 'half-year', 'yearly']
    = f.input :landmark_id, collection: @landmarks
    = f.input :image
  .actions
    = f.submit 'Save'
