%h1 События

%p= link_to 'Новое событие', new_event_path

// TODO helper
= link_to '<--', '#'
События на неделю: даты
= link_to '-->', '#'

- @event_occurrences.each do |eo|
  %h3= link_to eo.event.title, eo.event
  %p= eo.start
  %br

