%h1 Ratings#bloggers
|
= link_to 'Общий', ratings_general_path
|
= link_to 'commentator', ratings_commentators_path
|
= link_to 'blogger', ratings_bloggers_path
|
= link_to 'Photographer', ratings_photographers_path
|
= link_to 'Expert', ratings_experts_path
|
= link_to 'discoverer', ratings_discoverers_path
|
%table
  %tr
    %th number
    %th id
    %th email
    %th blogger rating

  - @users.each_with_index do |u, i|
    %tr
      %td= i+1
      %td= u.id
      %td= u.try(:email)
      %td= u.blogger
