%h1 Listing landmark_descriptions

- @landmark_descriptions.each do |landmark_description|
  .ld  
    .picture
    %strong=link_to landmark_description.title, landmark_description
    %br
    = landmark_description.body
    %br
    %strong Tags:
    = landmark_description.tag_list
    %br
    = landmark_description.describable.osm.geom if landmark_description.describable
    %table
      %tr
        %td= link_to 'Show', landmark_description
        %td= link_to 'Edit', edit_landmark_description_path(landmark_description)
        %td= link_to 'Destroy', landmark_description, method: :delete, data: { confirm: 'Are you sure?' }
    %br
    .clear-lf


%br

= link_to 'New Landmark description', new_landmark_description_path
