=link_to "список объектов", landmark_descriptions_path

%h1 Добавление нового объекта

= simple_form_for @landmark_description do |f|
  - if @landmark_description.errors.any?
    #error_explanation
      %h2= "#{pluralize(@landmark_description.errors.count, "error")} не позволяют сохранить объект"
      %ul
        - @landmark_description.errors.full_messages.each do |msg|
          %li= msg
  .inputs
    %a{:name => "name"}
    = f.input :title
    
    %a{:name => "place"}
    %h3 Укажите местоположения
    .leaflet-create-object{id: "map", :data => {:x => 30.3, :y => 60}}

    %a{:name => "category"}
    %h3 Категория
    = f.input :tag_list, input_html: { multiple: true, class: 'tag_list' }, collection: @categories, :label => "Укажите в ручную (например, монастырь, выставка, памятник)" , label_method: :name_ru, value_method: :name_ru, :include_blank => false 
    %h3{:onclick => "$('.categories').toggle();"} 
      =link_to "Или выбери из списка", "#"
    .categories  
      %h4 Что посмотреть
      список чекбоксов для категории что посмотреть
      %h4 Чем заняться
      список чекбоксов для категории чем заняться
      %h4 Где заночевать
      список чекбоксов для категории где заночевать
      %h4 Где поесть
      список чекбоксов для категории  где поесть
    = button_to "Фото", "#"
    = button_to "видео", "#"
  
    = f.submit "Создать объект"
    Чтобы создать объект: 
    =link_to "дайте название", "#name"
    ,
    =link_to "укажите местоположение", "#place"
    ,
    =link_to "укажите категорию", "#category"
= link_to 'Back', landmark_descriptions_path
  
%br
%br
%h3 Далее идет SEO-текст.
%br
%br