.leaflet-wide{id: "map"}
%h1 Куда отправиться

= form_tag '/landmark_descriptions/do_search', :method => :post do
  .inputs
    %strong Что
    = text_field_tag :text
    %strong X
    = text_field_tag :x, nil, disabled: true
    %strong Y
    = text_field_tag :y, nil, disabled: true
    %strong Радиус
    = text_field_tag :r, nil, disabled: true
    <br>
    %strong Что посмотреть
    = check_box_tag :sightseeing
    <br>
    %strong Чем заняться
    = check_box_tag :activities
    <br>
    %strong Где заночевать
    = check_box_tag :lodging
    <br>
    %strong Где поесть
    = check_box_tag :food

%br
=link_to "Все варианты", "#"
|
=link_to "Что посмотреть", "#"
|
=link_to "Чем заняться", "#"
|
=link_to "Где заночевать", "#"
|
=link_to "Где поесть", "#"
%br

%h3 Лучшие варианты
%div#search-results

%script
  $(window).load(function(){ landmark_description_search();})