.leaflet-wide{id: "map"}
%h1 Куда отправиться

= form_tag '/landmark_descriptions/do_search', :method => :post do
  .inputs
    %strong Что
    = text_field_tag :text
    %br
    %strong Где
    %br
    %strong X
    = number_field_tag :x
    %strong Y
    = number_field_tag :y
    %strong Радиус
    = number_field_tag :r
  .actions
    = submit_tag 'Search'

%br
=link_to "Все варианты", "#"
|
=link_to "Что посмотреть", "#"
|
=link_to "Чем заняться", "#"
|
=link_to "Где заночевать", "#"
|
=link_to "Где поесть", "#"
%br

%h3 Лучшие варианты
%div#search-results

%div#landmark-template.landmark-search-result{hidden: true}
  %h4.landmark-title template title
  %br
  %div.landmark-tags
