.leaflet-wide{id: "map"}

%h1.page-title.page-title__centered Куда отправиться

= form_tag '/landmark_descriptions/do_search', :method => :post do
  %div.main-search
    %div.main-search-description
      Найди места куда поехать, что посмотреть, чем заняться, где заночевать, где поесть
    %div.clearfix
      = submit_tag "Найти", :class => 'btn main-search-button'
      %div.main-search-field-container
        = text_field_tag 'query', nil, :class => 'input-block-level main-search-field-input', :placeholder => 'Рыбалка'
    %span.main-search-examples
      %small
        Например,
      = link_to "водопад Девичьи слёзы", "#"
      (
      %span.action-link
        все примеры поиска
      )
    %span.main-search-history
      %span.main-search-history-icon
      %span.action-link История поиска


%div.search-filter-tabs
  %span.search-filter-tab.search-filter-tab__selected
    = link_to "Все варианты (48)", "#"
  %span.search-filter-tab
    = link_to "Что посмотреть (2)", "#"
  %span.search-filter-tab
    = link_to "Чем заняться (2)", "#"
  %span.search-filter-tab
    = link_to "Где заночевать (4)", "#"
  %span.search-filter-tab
    = link_to "Где поесть (3)", "#"
  %span.search-filter-tab
    = link_to "Места (1)", "#"
  %div.search-filter-tab-content
    &nbsp;


%h2.section-title Лучшие варианты
%div#search-results

%script
  $(window).load(function(){ landmark_description_search();})
