
=link_to "Создать объект", new_landmark_description_path
%br
-# ###TODO: Move to partial
=link_to "описание объекта", @landmark_description
|
=link_to "редактировать описание", edit_landmark_description_path(@landmark_description)
|
=link_to "История изменений", history_landmark_description_path(@landmark_description)

%h1= @landmark_description.title

%p здесь будут наши цепочки

= render_category_tree @categories_tree
%br

.technical
  %h3 Рейтинг
  = button_to "Добавить в планировщик", "#"
  .vk.soc
    Мне нравится VK
  .fb.soc
    like FB
  .tw.soc
    tweet
  .cl-left
  .links
    = link_to "Голосовать", "#" 
    | 
    = link_to "Кто голосовал", "#"
    (кол-во)
%br
=link_to "Что посмотреть", "#"
|
=link_to "Чем заняться", "#"
|
=link_to "Где заночевать", "#"
|
=link_to "Где поесть", "#"
.type-form
  %br
  %br
  %p здесь будут представлены контактные данные фотографии рейтинги и т.д.
  %br
  %br
  %br
%br
.map
  .leaflet-edit-object{id: "map", data: {x: "#@x", y: "#@y"}}
%br
=link_to "Отзывы", "#"
|
=link_to "Что поблизости", "#"
.type-form
  %h2 Лучшие отзывы
  = link_to "+ Добавить отзыв", new_landmark_description_review_path(@landmark_description)
  %br
  %br
  %br
  - @landmark_description.reviews.each do |r|
    .review
      %h4= link_to r.title, r
      = r.body
  %br
  %br
  %br

%br
%br
%h3 Далее идет SEO-текст.
%br
%br

= link_to 'Edit', edit_landmark_description_path(@landmark_description)
|
= link_to 'Back', landmark_descriptions_path
%script
  $(window).load(function(){ landmark_description_show();})
