
=link_to "Создать объект", edit_path
%br
-# ###TODO: Move to partial
=link_to "описание объекта", show_path
|
=link_to "редактировать описание", edit_path
|
=link_to "История изменений", history_path

%h1= @landmark_description.title

%p здесь будут наши цепочки
- @branches.each do |b|
  - b.each do |category|
    %span.blue
      = category.name_ru
    = ' / '
  %br
.technical
  %h3 Рейтинг
  = button_to "Добавить в планировщик", "#"
  .vk.soc
    Мне нравится VK
  .fb.soc
    like FB
  .tw.soc
    tweet
  .cl-left
  .links
    = link_to "Голосовать", "#" 
    | 
    = link_to "Кто голосовал", "#"
    (кол-во)
%br
=link_to "Что посмотреть", "#"
|
=link_to "Чем заняться", "#"
|
=link_to "Где заночевать", "#"
|
=link_to "Где поесть", "#"
.type-form
  %br
  %br
  %p здесь будут представлены контактные данные фотографии рейтинги и т.д.
  %br
  %br
  %br
%br
.map
  %p здесь будет свернутая карта
%br
=link_to "Отзывы", "#"
|
=link_to "Что поблизости", "#"
.type-form
  %h2 Лучшие отзывы
  = button_to "+ Добавить отзыв", "#"
  %br
  %br
  %br
  Далее будет список отзывов
  %br
  %br
  %br

%br
%br
%h3 Далее идет SEO-текст.
%br
%br

= link_to 'Edit', edit_landmark_description_path(@landmark_description)
\|
= link_to 'Back', landmark_descriptions_path
