.obj_show_page
  = render partial: 'geo_objects/main_navigation', locals: {object: @geo_object}
  .obj_descr
    .obj_descr__title
      %h1= @geo_object.title
    .obj_descr__gps
      = render partial: 'shared/geo_list', locals: {tree: @geo_object.agc.try(:titles) || {}}
    .obj_descr__tags
      = render partial: 'shared/tag_list', locals: {tag_tree: @categories_tree}

    .obj_descr__info
      .obj_descr__info__photo
        - images = @geo_object.images.limit(3)
        - images.each_with_index do |image, index|
          - if index == 0
            = image_tag(image.image_url(:objmainthumb), width: 504, height: 337, class: 'main')
          - else 
            = image_tag(image.image_url(:objsecthumb), width: 237, height: 167)
      .obj_descr__info__links
        .obj_descr__info__links__rate
          %h3 
            Рейтинг oбъекта
          .obj_descr__info__links__value
            = @geo_object.average_rating
        .obj_descr__info__links__planner
          = link_to content_tag(:span, "В планировщик", class: 'inner'), "#", {class: 'action-link-bullet icon-sm-bookmark ui-link'}
        .obj_descr__info__links__print
          = link_to content_tag(:span, "Напечатать", class: 'inner'), "#", {class: 'action-link-bullet icon-sm-print ui-link'}
        .obj_descr__info__links__social
          = render partial: 'shared/sn_share_buttons', locals: {size: 16}
        .add_photo_or_video_link
          = link_to "Добавить фото или видео", "#newimage", {class: "link-like-button bullet icon-sm-arrow-up button button_standard button_grey ui-link"}
    .obj_descr__text
      .obj_descr__text__vote_stats
        .obj_descr__text__vote_stats__value
          .obj_descr__text__vote_stats__value__title
            %h3 Мнение посетителей
            - @tags.each do |tag_name|
              .obj_descr__text__vote_stats__value__item
                .obj_descr__text__vote_stats__value__item__name
                  = tag_name

                - path = new_vote_polymorphic_path @geo_object, tag_name, format: :json
                - user_vote = current_user ? current_user.get_vote(@geo_object, tag_name) : 0
                %div{class: 'obj_descr__text__vote_stats__value__item__value', data: {votes_for: @geo_object.votes_for(tag_name), votes_against: @geo_object.votes_against(tag_name), current_user_vote: user_vote, vote_url: path}}

        .obj_descr__text__vote_stats__near_objects
          = link_to "Объекты поблизости", search_geo_objects_path, {class: "link-like-button bullet icon-sm-compass button button_standard button_grey ui-link"} 

      .obj_descr__text__descr
        - if !@geo_object.address.nil?
          .obj_descr__text__descr__location.icon-sm-location
            = @geo_object.address

        - if !@geo_object.schedule.nil?
          .obj_descr__text__descr__time.icon-sm-clock
            = @geo_object.schedule 

        - if !@geo_object.contacts.nil?
          .obj_descr__text__descr__organizations.icon-sm-directions
            = @geo_object.contacts

        - if !@geo_object.body.nil?
          .obj_descr__text__descr__body
            = @geo_object.body
            .transparency
          .obj_descr__text__descr__body__full_link
            =link_to 'Подробнее', '#', class: 'action-link show'
            =link_to 'Свернуть', '#', class: 'action-link hide'

        .obj_descr__text__descr__adder
          = render partial: 'shared/block_adder', locals: {object: @geo_object}

        .obj_descr__text__descr__runtips{data: {id: @geo_object.id}}
          .obj_descr__text__descr__runtips__spinner 
          = link_to 'Как добраться', "#runtips_list", {class: 'action-link ui-link runtip_switcher', data:{toggle: "collapse", target: "#runtips_list"}}
          .obj_descr__text__descr__runtips__list__container.collapse#runtips_list
            .obj_descr__text__descr__runtips__list__add
              = form_for([@geo_object, Runtip.new]) do |f|
                .pic_comments__add__avatar
                  - unless current_user.nil?
                    = image_tag current_user.profile.avatar_url(:image_commentor_thumb), width: 48, height: 48
                .pic_comments__add__input
                  = f.text_field :body, placeholder: 'Предложить вариант'
                .pic_comments__add__controls
                  .pic_comments__add__controls__submit
                    = f.submit 'Отправить', {class: 'button button_standard button_grey'}
                  .pic_comments__add__controls__reset
                    = f.submit 'Отменить', {class: 'action-link', type: 'reset'}


            .obj_descr__text__descr__runtips__list
    
  %div#mapContainer.map__outer
    %div.map__inner
      %div.map__content
        %div#mapContainer.map__container.map__container_collapsed
          %div#map.map
        %div#mapExpand.map__expand
          %span.map__expand__button
            %span#mapExpandButton.action-link.map__expand__button__text
              Развернуть карту

  = render partial: 'geo_objects/sub_navigation', locals: {object: @geo_object}
  .obj_descr__responces__starter
    
= render partial: 'images/new', locals: { object: @geo_object }

%script
  $(window).load(function(){ geo_object_show();})
