%p#notice= notice

%p
  %b Title:
  = @review.title
%p
  %b Body:
  = @review.body

.votes{id: dom_id(@review)}
  =render "link_to_vote",text: "up-#{@review.id}", controller: 'review'
  (
  %span.up-vote= "#{@review.votes_for}"
  )
  |
  =render "link_to_vote",text: "down-#{@review.id}", controller: 'review'
  (
  %span.down-vote= "#{@review.votes_against}"
  )
  - unless current_user.nil?
    =link_to "unvote", "#", id: "vote-delete", onclick: "to_unvote('review', #{@review.id});"

%h4 Комментарии:

- @comment_roots.each do |root|
  = nested_comments root.subtree.arrange(order: :created_at)

%h4 Добавить комментарий:

= form_for([@review, @review.comments.build]) do |f|
  %p
    = f.label :body
    %br
    = f.text_area :body, rows: '3'
  %p= f.submit
= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
