%p#notice= notice

%p
  %b Title:
  = @review.title
%p
  %b Body:
  = @review.body

.votes
  - if current_user.anonymous?
    +
  - else
    =link_to "+", "#", id: "vote-up", onclick: "to_vote(#{@review.id}, 'up');"
  (
  %span.up-vote= "#{@review.votes_for}"
  )
  |
  -if current_user.anonymous?
    \-
  -else
    =link_to "-", "#", id: "vote-down", onclick: "to_vote(#{@review.id}, 'down');"
  (
  %span.down-vote= "#{@review.votes_against}"
  )
     
%h4 Comments:

- @review.comments.roots.each do |root|
  - root.self_and_descendants.each do |c|
    .comment
      %p= c.body
      %p= link_to 'Ответить', new_review_comment_path(@review, parent_id: c.id)

%h4 Add a comment:

= form_for([@review, @review.comments.build]) do |f| 
  %p
    = f.label :body 
    %br
    = f.text_area :body, rows: '3'
  %p= f.submit
= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
