%p#notice= notice

%p
  %b Title:
  = @review.title
%p
  %b Body:
  = @review.body

%h4 Comments:

- @comment_roots.each do |root|
  = nested_comments root.subtree.arrange(order: :created_at)

%h4 Add a comment:

= form_for([@review, @review.comments.build]) do |f|
  %p
    = f.label :body
    %br
    = f.text_area :body, rows: '3'
  %p= f.submit
= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
