%p#notice= notice

%p
  %b Title:
  = @review.title
=link_to 'Пожаловаться', '#complaint', onclick: "complaint('/reviews/#{@review.id}');", id: 'review_complaint'
%p
  %b Body:
  = @review.body

%a{name: 'complaint'}
.complaint
.votes{id: dom_id(@review)}
  =render partial: "shared/votes", locals: { object_to_vote: @review }

%h4 Комментарии:

- @comment_roots.each do |root|
  = nested_comments root.subtree.arrange(order: :created_at)

%h4 Добавить комментарий:
= render partial: "comments/add_comment", locals: { commentable: @review, comment: @review.comments.build }

= link_to 'Edit', edit_geo_object_review_path(@geo_object, @review)
\|
= link_to 'Back', reviews_path
