%h1 Log in
= simple_form_for @user_session, :html => { :class => 'form-horizontal' } do |form| 
  .formList
    = form.input :email 
    = form.error :email, :id => "email_errror"
    = form.input :password 
    = form.submit :submit
