%div.all-photos-page
  = render partial: 'geo_objects/main_navigation', locals: {object: @parent}
  %div.row-fluid.add
    %div.span6
      %h4
        = @parent.title
    %div.span6
      = link_to "Добавить фото или видео", "#", {class: "button button_standard button_grey ui-link"}

  %ul.obj-page-gallery
    - @parent.images.each do |image|
      %li
        - path = geo_object_image_path(@parent, image)
        = link_to image_tag(image.image_url(:indexthumb)), geo_object_image_path(@parent, image, anchor: path)
  = render "modals/image_show_modal"
= render 'layouts/footer'
