%div.all-photos-page
  %div.row-fluid
    %div.span6.search
      = link_to raw("<span class='inner'>Поиск объектов</span>"), search_geo_objects_path, {class: "action-link-bullet icon-sm-arrow-left-3"}

  %ul.obj-page-navigation
    %li 
      = link_to raw("Описание объекта"), geo_object_path(@geo_object), {class: 'action-link'}
    %li.active 
      = link_to raw("<span class='inner'>Фото</span>"), geo_object_images_path(@geo_object), {class: "icon-sm-pictures action-link-bullet"}
    %li
      = link_to raw("<span class='inner'>Видео</span>"), video_geo_object_path(@geo_object), {class: "icon-sm-video action-link-bullet"}

    %li.pull-right
      = link_to "", "#", {class: "icon-flag action-link-bullet"}
    %li.pull-right
      = link_to "", "#" , {class: "icon-sm-history action-link-bullet"}
    %li.pull-right
      = link_to raw("<span class='inner'>Редактировать</span>"), edit_geo_object_path(@geo_object), {class: "icon-sm-pencil action-link-bullet"}

  %div.row-fluid.add
    %div.span6
      %h4 
        = @geo_object.title
    %div.span6
      = link_to "Добавить фото или видео", "#", {class: "button button_standard button_grey"}

  %ul.obj-page-gallery
    - @geo_object.images.each do |image|
      %li
        = link_to image_tag(image.image_url(:indexthumb)), geo_object_image_path(@geo_object, image) 
= render 'layouts/footer'
