!!! 5
%html
  %head
    = csrf_meta_tag
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="cleartype" content="on")
    %title(Smorodina)
    /%link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet')
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %body{ class: page_class }

    %div.promo-panel
      %div.promo-panel__inner
        %div.promo-panel__text.promo-panel__greeting
          Добро пожаловать в Смородину — путеводитель по родной стране, созданный ее жителями!
        %span.promo-panel__text
          Всего в Смородине
          %b{id: 'objets_total'} >9000
          объектов
        %a.button.button_3d.button_orange.promo-panel__button{ href: new_landmark_description_path }
          %span.button__inner.button_3d__inner
            %span.button__text.button_3d__text{ data: { text: "Добавить объект" }}

    %div.main
      %div.main__inner
        %div.slogan-user-panel-container
          %div.user-panel
            - if current_user.nil?
              %span.user-panel__login
                %a.ui-link{ href: new_user_session_path }
                  Вход и регистрация
                  %span.icon.icon-door.user-panel__login__icon
            - else
              %span.user-link.user-panel__account
                %span.icon.icon-user.user-link__icon
                %span.action-link.dropdown-toggle{ data: { toggle: 'dropdown' } }= current_user.email
                %ol.dropdown-menu.pull-left.user-panel__account__dropdown{ role: 'menu' }
                  %li
                    %a.tdn-link{href: '#108'}
                      %b
                        Личный кабинет
                  %li.divider
                  %li
                    %a.tdn-link{href: '#109'}
                      Добавить объект
                  %li
                    %a.tdn-link{href: '#110'}
                      Добавить событие
                  %li.divider
                  %li
                    %a.tdn-link{href: '#110'}
                      Как пользоваться
                  %li.divider
                  %li
                    %a.tdn-link{href: '#111'}
                      Выход

          %div.slogan
            Путешествуй по России

        %div.control-panel
          %a{ href: "/" }
            =image_tag "logo-fake.png", class: "control-panel__logo", alt: "Смородина"
          %nav.control-panel__menu
            %a.ui-link.selected{ href: landmark_descriptions_path }
              Куда отправиться
              %span.control-panel__menu__triangle
            %a.ui-link{ href: events_path }
              События
              %span.control-panel__menu__triangle
            %a.ui-link{ href: "#blogs" }
              Рейтинги
              %span.control-panel__menu__triangle
          %div.control-panel__info-button.dropdown-toggle{ data: { toggle: 'dropdown' } }
            %div.icon.icon-sm-list.control-panel__info-button__icon
          %ul.dropdown-menu.pull-right.control-panel__info-section
            %li
              %a.ui-link.control-panel__info-section__link{ href: '#about' }<
                О проекте
            %li
              %a.ui-link.control-panel__social-block__link{ href: '#' }
                %span.icon.icon-vk.control-panel__social-block__link__icon
                %span.control-panel__social-block__link__text
                  Смородина в Facebook
            %li
              %a.ui-link.control-panel__social-block__link{ href: '#' }
                %span.icon.icon-facebook.control-panel__social-block__link__icon
                %span.control-panel__social-block__link__text
                  Группа ВКонтакте
            %li
              %a.ui-link.control-panel__social-block__link{ href: '#' }
                %span.icon.icon-twitter.control-panel__social-block__link__icon
                %span.control-panel__social-block__link__text
                  Наш Twitter

        %div.promo-description
          %div.promo-description__inner
            %div.promo-description__container.promo-description__container_3
              %div.promo-description__container.promo-description__container_2
                %div.promo-description__container.promo-description__container_1
                  %div.promo-description__column
                    %div.promo-description__column__inner
                      %div.promo-description__title
                        Узнавай
                      %span.promo-description__text
                        Найди на Смородине места, которых нет в путеводителях, о которых знают
                        только местные жители. Искать легко через поисковую строку или сразу на карте.
                  %div.promo-description__column
                    %div.promo-description__column__inner
                      %div.promo-description__title
                        Рассказывай
                      %span.promo-description__text
                        Поделись знаниями о стране, о родном крае. Твоя родина очень большая и все,
                        кто ищет информацию на Смородине, будут тебе благодарны за помощь —
                        выкладывай фотографии и описывай интересные объекты.
                  %div.promo-description__column
                    %div.promo-description__column__inner
                      %div.promo-description__title
                        Путешествуй
                      %span.promo-description__text
                        Узнавать страну можно не только на Смородине. Отправляйся в путешествие и
                        посмотри своими глазами нам мир вокруг. Система планирования путешествий
                        поможет разработать подробную программу поездки.

        %div#mainSearch.main-search
          %form#mainSearchForm
            %div.main-search__inner
            %div.main-search__column
              %div.how-to-search.how-to-search

            %div.main-search__column.main-search__field
              %input#mainSearchFieldInput.main-search__field__input{ type: "text",
                placeholder: "Куда поехать, что посмотреть, чем заняться, где заночевать, где поесть" }
              %div.main-search__field__panel
                %span.main-search__field__panel__example
                  Например,
                  %span.action-link.main-search__field__panel__example__text.dropdown-toggle{ data: { toggle: 'dropdown' } }
                    водопад Девичьи слёзы
                  %ol.dropdown-menu.pull-right.main-search__field__panel__dropdown.main-search__field__panel__dropdown_example{ role: 'menu'}
                    %li
                      %a{href: '#101'}
                        Краснодар рестораны
                    %li
                      %a{href: '#102'}
                        Рыбалка на Кубани
                    %li
                      %a{href: '#103'}
                        Лыжи Сочи
                    %li
                      %a{href: '#104'}
                        Петербург музеи
                %span.main-search__field__panel__history
                  %span.action-link.main-search__field__panel__history__text.dropdown-toggle{ data: { toggle: 'dropdown' } }
                    История поиска
                  %ol.dropdown-menu.pull-left.main-search__field__panel__dropdown.main-search__field__panel__dropdown_history{ role: 'menu'}
                    %li
                      %a{href: '#105'}
                        Калуга
                    %li
                      %a{href: '#106'}
                        Ресторан «Веселая рыбалка»
                    %li
                      %a{href: '#107'}
                        Саратовский государственный академический театр драмы им. И. А. Слонова
                  %span.icon.icon-clock.main-search__field__panel__history_icon

            %div.main-search__column
              %button#mainSearchButton.button.button_3d.button_violet.main-search__button
                %span.button__inner.button_3d__inner
                  %span.button__text.button_3d__text{ data: { text: "Найти" }}

        = yield
%script
  $(window).load(load_objects_count)
